.warp-flex {
  display: flex;
  justify-content: center;
  align-content: center;
}
.title {
  width: 700px;
  padding: 25px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #dcdcdc;
  box-shadow: 0 2px 5px #eeeeee;
  .avatar {
    flex: 1;
    text-align: center;
    .user-info-avatar {
      width: 100px;
      height: 100px;
      border-radius: 100%;
    }
  }
  .user-info {
    flex: 3;
    text,div,span{
      display: block;
    }
    .nickname {
      padding: 8px 0 10px 0;
      font-size: 30px;
      color: #818A8F;
    }
    .edit {
      font-size: 30px;
      color: #bababa;
      line-height: 34px;
    }
  }
}
